* {
  margin: 0%;
  padding: 0%;
}


body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
 
}

/* trip advisor log */
.navbar-s1_title_img img {
  height: 40px
}

.navbar {
  background-color:white;
  color:  black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  gap: 15%;
}


.navbar-s2 {
  display: flex;
  gap: 20px;
  font-size: medium;
}

.navbar-s3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navsignin{
    
  border: solid black 1px;
  background-color: blacK;
  color: white;
  border-radius: 20px;
  padding: 10px;
}


/* where to  */

.where {
  
  margin-top: 40px;
  padding: 2Opx;
  text-align: center;
  font-size: 30px
}


/* menubar */

.search_up_menu {

  display: flex;
  padding: 10px;
  gap: 50px;
  text-align: center;
  justify-content: center;
}

.searchbar {
  border: solid #E0E0E0 2px;
  width: 60%;
  padding: 5px;
  margin-top: 10px;
  margin-left: 220px;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
 
}


.search_green button{
  padding: 10px;
  border-radius: 20px;
  background-color: #84E9BD;
  border: solid  #84E9BD 1px;
  color: black;
  font-size: large;
  font-weight: 100;
  padding-left: 20px;
  padding-right: 20px;
  
  
  
}

.search_icon input {
  border: none;
  width: 500px;
}

.searchbar input:focus {
  outline: none;
}

/* wall img */


.wall_img {
  height: 500px;
  background-color: #DBCBFE;
  padding: 20px;
  margin: 40px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
}


.wall_im img {
  position: absolute;
  bottom: 0;
  right: 20px
}
  

.wall_writing {
  width: 30%;
  height: 30%;
  position: absolute;
  left:0;
  bottom: 0;
  left: 20%;
  bottom: 50%;
}

.wall_im {
  width: 100%;
  
}




.wr_1 {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.wr_1 p {
  color: grey;
}

.wr_1 h6 {
  
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 5px;
}

.wr_2 {
  font-size: 20px;
  padding: 5px;
}

.wr_3 {
  padding: 5px;
}

.wr_3 h4 {
  font-size: 15px;
}

.wr_4 {
  background-color: #301D49;
  color: white;
  padding: 10px;
  display: flex;
  gap: 5px;
  width: fit-content ;
  border: solid black 1px;
  margin: 5px;
  border-radius: 100px;
  justify-content: center;
}

.beach {
  margin: 10px;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 0%;
  
 
}


.beach-option {
  margin: 20px;
  display: flex;
  justify-content:space-evenly;
  gap: 10px;
  margin-top: 0%;
  
}

.r1-1,.r1-2,.r1-3,.r1-4{
  position: relative;
}

.r1-1 h2{
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
}

.r1-2 h2{
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  
}

.r1-3 h2{
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
}

.r1-4 h2{
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
}




.beach-option img {
  border-radius: 10px;

}

.beach-option p {
  width: 300px;
}


.madras {
  margin: 10px;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 0%;
 
}


.madras-option {
  margin: 20px;
  display: flex;
  justify-content:space-evenly;
  gap: 10px;
  margin-top: 0%;
  
}

.madras-option img {
  border-radius: 10px;

}

.madras-option p {
  width: 300px;

}




.more-madras {
  margin: 10px;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 0%;
 
}


.more-option {
  margin: 20px;
  display: flex;
  justify-content:space-evenly;
  gap: 10px;
  margin-top: 0%;
  
}

.more-option img {
  border-radius: 10px;

}

.more-option p {
  width:300px;
}


/* more explore */
.explore {
    
  background-color: #FAF1ED;
  padding: 10px;
  

}

.explore-option {

  background-color: #FAF1ED;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;

}

.explore-option img{
  width: 100%;
  height: 235px;
}

/* chinna */

.china {
  margin: 10px;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 0%;
 
}


.china-option {
  margin: 20px;
  display: flex;
  justify-content:space-evenly;
  gap: 10px;
  margin-top: 0%;
  
}

.china-option  img {
  border-radius: 10px;
  width:300px;
  height:300px;

}

.china-option p {
  width:300px;
}

.r5-1,.r5-2,.r5-3,.r5-4{
  position: relative;
}

.r5-1 h2{
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
}

.r5-2 h2{
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  
}

.r5-3 h2{
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
}

.r5-4 h2{
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
}








/* video */
.video-section {
  margin: 30px;
  margin-top: 5%;

}




.footer{   
  background-color: #FFF7E1;
  display: flex;
  justify-content: center;
}

.footer-main-s1 {
  display: flex;
  padding: 20px;
  gap: 25px;
  justify-content: center;

}

.footer-main-s2 {
  padding: 20px;
}


.footer2 {   
  background-color: #FFF7E1;
  display: flex;
  justify-content:end;
}

.footer2-s1 img {
  width: 25px;
  height: 25px;
  border-radius: 10px;
}
